* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
    color: #ffffff;
}

.door {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    z-index: 2;
    display: none;
    transition: z-index 0s linear .5s;
}

body:hover .door {
    z-index: 0;
}

.door-left,
.door-right {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160%;
    background: #000000;
    box-sizing: border-box;
    transition: all .5s ease;
}

.door-left {
    -webkit-transform-origin: 0 0;
    transform: rotate(-45deg) translateX(-39%) translateY(0%);
}

.door:hover .door-left {
    transform: rotate(-45deg) translateX(-39%) translateY(-110%);
}

.door-right {
    left: 50%;
    transform: rotate(-45deg) translateX(-30%) translateY(-80%);
    -webkit-transform-origin: 100% 0;
}

.door:hover .door-right {
    transform: rotate(-45deg) translateX(20%) translateY(50%);
}

.swiper-container {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 14px;
    border-radius: 0%;
    color: #007aff;
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #000;
    opacity: .7;
    color: #fff;
}

.swiper-pagination-bullet .msg {
    display: none;
    position: absolute;
}

.swiper-pagination-bullet:hover .msg {
    display: block;
    width: 70px;
    line-height: 30px;
    background: #000;
    left: -70px;
    top: 0px;
}


.profile {
    position: relative;
}

.profile-list {
    position: relative;
}

.profile-list li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: #007aff;
    border-radius: 50%;
}

.profile-list li:first-child {
    top: -200px;
    left: 220px;
}

.profile-list li:nth-child(2) {
    left: 475px;
    top: -200px;
}

.profile-list li:nth-child(3) {
    left: 475px;
    top: -5px;
}

.profile-list li:nth-child(4) {
    left: 220px;
    top: -5px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: all .5s ease;
    cursor: pointer;
    margin-top: 50px;
}

.profile-img:hover {
    transform: rotate(360deg);
}

.profile h3 {
    border-bottom: 2px #ffff solid;
    padding: 5px 50px;
    margin: 20px 0px;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 50px;
}

.contact-list li {
    float: left;
    margin: 5px;
}

.swiper-pagination-bullet {
    opacity: none;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.page01 {
    background: #87B0A9;
}

.page02 {
    background: #4d5e8f;
}

.page03 {
    background: #945c4c;
}

.page04 {
    background: #4b85a0;
}

.page05 {
    background: #A2997E;
}

.jy-list {
    display: flex;
    margin-top: 150px;
}

.jy-list .jy-item {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 20px;
}

.jy-list .jy-item img {
    width: 200px;
    height: 100px;
}