* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.door {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    z-index: 2;
    display: none;
    transition: z-index 0s linear .5s;
}

body:hover .door {
    z-index: 0;
}

.door-left,
.door-right {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160%;
    background: #000000;
    box-sizing: border-box;
    transition: all .5s ease;
}

.door-left {
    -webkit-transform-origin: 0 0;
    transform: rotate(-45deg) translateX(-39%) translateY(0%);
}

.door:hover .door-left {
    transform: rotate(-45deg) translateX(-39%) translateY(-110%);
}

.door-right {
    left: 50%;
    transform: rotate(-45deg) translateX(-30%) translateY(-80%);
    -webkit-transform-origin: 100% 0;
}

.door:hover .door-right {
    transform: rotate(-45deg) translateX(20%) translateY(50%);
}

b {
    color: #CA8EFE;
}

a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav {
    position: fixed;
    z-index: 1000;
    left: -100px;
    top: 160px;
    -webkit-transition: all 0.5s 0.8s;
    -moz-transition: all 0.5s 0.8s;
    -ms-transition: all 0.5s 0.8s;
    -o-transition: all 0.5s 0.8s;
    transition: all 0.5s 0.8s;
}

body.open nav {
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0.4;
}

nav ul,
nav ul a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav ul:hover {
    opacity: 0.8;
}

nav ul a {
    display: inline-block;
    min-width: 20px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    color: #CCC;
    background-color: #34495E;
}

nav ul a[href="#skill"] {
    background-color: #2980B9;
}

nav ul a[href="#about"] {
    background-color: #C0392B;
}

nav ul a[href="#works"] {
    background-color: #27AE60;
}

nav ul a[href="#contact"] {
    background-color: #2C3E50;
}

nav ul a span {
    display: none;
}

nav ul a:hover {
    color: #FFF;
    padding: 0 20px;
}

nav ul a.current span,
nav ul a:hover span {
    display: inline-block;
}

#cover {
    position: absolute;
    top: 0;
    z-index: 100;
}

body>section {
    width: 100%;
    height: 700px;
    overflow: hidden;
}


#skill,
#works {
    background-color: #EEE;
}

body.open #skill,
body.open #about,
body.open #works,
body.open #contact {
    display: block;
}

.swiper-container {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: all .5s ease;
    cursor: pointer;
}

.profile-img:hover {
    transform: rotate(360deg);
}


/* .swiper-slide p {
    transform: translateX(-200px);
    opacity: 0;
    transition: all .4s;
}

.ani-slide p {
    transform: translateX(0);
    opacity: 1;
} */

#work {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#work .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

}

.profile table {
    margin-top: 20px;
}

.profile table td {
    padding: 15px;
}