* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
    color: #ffffff;
}

.icon-yinle {
    position: absolute;
    z-index: 2;
    font-size: 35px !important;
    top: 35px;
    right: 25px;
    transition: transform 3s linear;
    animation: yinyue 3s linear 0s infinite;

}

@keyframes yinyue {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.door {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ffffff;
    z-index: 2;
    display: none;
    transition: z-index 0s linear .5s;
}

body:hover .door {
    z-index: 0;
}

.door-left,
.door-right {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 160%;
    background: #000000;
    box-sizing: border-box;
    transition: all .5s ease;
}

.door-left {
    -webkit-transform-origin: 0 0;
    transform: rotate(-45deg) translateX(-39%) translateY(0%);
}

.door:hover .door-left {
    transform: rotate(-45deg) translateX(-39%) translateY(-110%);
}

.door-right {
    left: 50%;
    transform: rotate(-45deg) translateX(-30%) translateY(-80%);
    -webkit-transform-origin: 100% 0;
}

.door:hover .door-right {
    transform: rotate(-45deg) translateX(20%) translateY(50%);
}

.swiper-container {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 14px;
    border-radius: 0%;
    color: #007aff;
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #000;
    opacity: .7;
    color: #fff;
}

.swiper-pagination-bullet .msg {
    display: none;
    position: absolute;
}

.swiper-pagination-bullet:hover .msg {
    display: block;
    width: 70px;
    line-height: 30px;
    background: #000;
    left: -70px;
    top: 0px;
}


.profile {
    position: relative;
}

.profile-list {
    border-radius: 50%;
    top: -2px;
    left: 241px;
}

.profile-list li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.profile-list li:first-child {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -4s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) 0s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -4s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) 0s infinite alternate;
    background-color: rgba(193, 131, 106, 0.8);
}

.profile-list li:nth-child(2) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -6s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -2s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -6s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -2s infinite alternate;
    background-color: rgba(121, 100, 102, 0.8);
}

.profile-list li:nth-child(3) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -8s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -4s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -8s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -4s infinite alternate;
    background-color: rgba(49, 65, 82, 0.8);
}

.profile-list li:nth-child(4) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -10s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -6s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -10s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -6s infinite alternate;
    background-color: rgba(66, 66, 66, 0.8);
}

.profile-list li:nth-child(5) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -12s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -8s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -12s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -8s infinite alternate;
    background-color: rgba(76, 157, 160, 0.8);
}

.profile-list li:nth-child(6) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -14s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -10s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -14s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -10s infinite alternate;
    background-color: rgba(193, 131, 106, 0.8);
}

.profile-list li:nth-child(7) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -16s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -12s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -16s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -12s infinite alternate;
    background-color: rgba(66, 66, 66, 0.8);
}

.profile-list li:nth-child(8) {
    -webkit-animation: outX 8s cubic-bezier(.36, 0, .64, 1) -18s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -14s infinite alternate;
    animation: outX 8s cubic-bezier(.36, 0, .64, 1) -18s infinite alternate, outY 8s cubic-bezier(.36, 0, .64, 1) -14s infinite alternate;
    background-color: rgba(117, 148, 179, 0.8);
}

@keyframes outX {
    0% {
        left: -1.5625rem
    }

    to {
        left: 14.0625rem
    }
}

@keyframes outY {
    0% {
        top: -1.5625rem
    }

    to {
        top: 14.0625rem
    }
}

.profile-list {
    position: absolute;
}

.profile-list li:first-child {
    top: -200px;
    left: 220px;
}

.profile-list li:nth-child(2) {
    left: 475px;
    top: -200px;
}

.profile-list li:nth-child(3) {
    left: 475px;
    top: -5px;
}

.profile-list li:nth-child(4) {
    left: 220px;
    top: -5px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: all .5s ease;
    cursor: pointer;
    margin-top: 50px;
}

.profile-img:hover {
    transform: rotate(360deg);
}

.profile h3 {
    border-bottom: 2px #ffff solid;
    padding: 5px 50px;
    margin: 20px 0px;
    color: #fff;
    margin-top: 140px;
    margin-bottom: 50px;
}

.swiper-pagination-bullet {
    opacity: none;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.page01 {
    background: #87B0A9;
}

.page02 {
    background: #4d5e8f;
}

.page03 {
    background: #945c4c;
}

.page04 {
    background: #4b85a0;
}

.page05 {
    background: #A2997E;
}

.jy-list {
    display: flex;
    margin-top: 70px;
}

.jy-list .jy-item {
    box-shadow: 0 0 0.78125rem rgba(0, 0, 0, .5);
    border-radius: 12px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    align-items: center;
    padding: 20px;
    background: #041f3a;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.jy-list .jy-desc {
    transform: translateY(300px);
    font-size: 16px;
    transition: transform .5s linear;
    text-align: left;
    line-height: 30px;
    background: rgba(0, 0, 0, .4);
    height: 250px;
    width: 250px;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.jy-item:hover .jy-desc {
    transform: translateY(0px);
}

.jy-list .jy-item img {
    width: 200px;
    height: 100px;
}

.jy-list .jy-item:first-child .jy-time {
    margin-top: -18px;
}

.jy-list .jy-item:nth-child(2) .jy-time {
    margin-top: -15px;
}

.jy-list .jy-item:nth-child(3) img {
    margin-top: -3px;
}

.jy-list .jy-item:nth-child(3) .jy-time {
    margin-top: -9px;
}

.swiper-pagination-v .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
    margin: 6px 0;
    padding: 0px;
}

.swiper-pagination-v .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.swiper-container-v {
    position: initial !important;
    width: 1200px;
    height: 400px;
    border-radius: 20px;
    margin: 20px auto;
}

.swiper-container-v .swiper-slide {
    background-color: #fff;
    color: #000;
    transition: 300ms;
    transform: scale(0.8);
    cursor: pointer;
}

.swiper-container-v .swiper-slide-active,
.swiper-container-v .swiper-slide-duplicate-active {
    transform: scale(1);
}

.contact-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contact-list li {
    margin: 0 10px;
}

.contact-list a {
    text-decoration: none;
    color: #fff;
}

.contact-list a i {
    font-size: 55px;
}

.contact-box p {
    line-height: 55px;
}

.contact-box img {
    width: 250px;
    height: 250px;
}

#copyright {
    font-size: 14px;
    margin-top: 20px;
}